<% provide(:title, 'About')%><h1>about</h1>

Who we are?

“Swaper" is a site for buying and selling college books. The creation of this virtual library is the brainchild of some students of the Technical University of Wroclaw. The goal that we aim to accomplish is to simplify the purchase of instructional books by connecting students who need books with those who, no longer using them, sell them at low prices.