<% provide(:title, 'Help')%>
<h1>BUY</h1>
<p>
If you need a book, you have just to look if we have it in our database (click the red button “buy” and than full text boxes ). Than send an email from our website to the owner. In this way you will accord when and how he can sell the book you need.
</p>
<h1>SELL</h1>
<p>
If you want to sell a book, you have just to register your self inside the webpage clickking on the red button “sell” and than “New User Registration” (don’t worry we just need name and email). Than you have to reserch your book from our “title database” (just insert the book number in the text boxes) and than insert it in our “aviable book database”. The last step is to wait an email from sombody who is interested to your book to deal the exchange of your book with somting else: beer, vodka, party or maybe money. P.S. During registration you will recive an confermation email, remember to check in the “junk” if you not recive it in 10 minutes</p>
</p>