<% provide(:title, 'Home')%>
<div class="center hero-unit">
<h1>Welcom!</h1>
<h2>This is the SWAPER - ultimate place to finde all your books<h2>
<%= link_to "Buy!", signin_path , class: "btn btn-large btn-primary"%>
<%= link_to "Sell!", '#', class: "btn btn-large btn-primary"%>
</div>